<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <meta
      property="og:url"
      content="https://lab.bibanana.com/edo-gengo/detail.html"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="江戸〜 元号一覧" />
    <meta property="og:description" content="江戸時代からの元号の一覧です。" />
    <meta property="og:site_name" content="江戸時代元号 新旧判定ツール" />
    <meta
      property="og:image"
      content="https://lab.bibanana.com/edo-gengo/ogp.png"
    />

    <meta charset="UTF-8" />
    <title>江戸〜 元号一覧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="江戸時代からの元号の一覧です。" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <h1>江戸〜 元号一覧</h1>
      <p>干支はクリックで展開します。</p>
      <table>
        <thead>
          <tr>
            <th>元号</th>
            <th>開始年</th>
            <th>干支 ▼</th>
          </tr>
        </thead>
        <tbody>
          <template
            v-for="(era, index) in eraList"
            :key="era.name + '-' + index"
          >
            <tr>
              <td>
                <ruby
                  >{{ era.name }}<rp>(</rp><rt>{{ era.yomi }}</rt
                  ><rp>)</rp></ruby
                >
              </td>
              <td>{{ era.startYear }}年〜</td>
              <td role="button" @click="toggleEto(era.name)">
                <ruby
                  >{{ era.startEto }}<rp>(</rp><rt>{{ era.Etoyomi }}</rt
                  ><rp>)</rp></ruby
                >
              </td>
            </tr>

            <!-- 干支年表示 -->
            <tr v-if="expandedEra === era.name" class="expand">
              <td :colspan="3">
                <ul class="eto-list">
                  <li v-for="yearData in getEtoYears(era)" :key="yearData.year">
                    {{ era.name }}{{ yearData.gengouYear === 1 ? '元' :
                    yearData.gengouYear }}年 （{{ yearData.year }}年）：
                    <ruby>
                      {{ yearData.etoName }}<rp>(</rp
                      ><rt>{{ yearData.etoYomi }}</rt><rp>)</rp>
                    </ruby>
                  </li>
                </ul>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <button @click="goToList"><span>元号比較ツールへジャンプ</span></button>
    </div>
    <footer>
      <p>
        このツールは、個人の学習を目的として作成しています。<br />
        不具合のご報告は歓迎しますが、すべてのご意見・ご要望には対応できないことがあります。ご了承ください。
      </p>
      <p>
        <a
          href="https://github.com/bibertarian/edo-gengo"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </p>
    </footer>
    <script src="list.js"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <!-- 本番用 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="detail.js"></script>
  </body>
</html>
